
MOOLRE_API_USER=nagonu
MOOLRE_PUBLIC_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyaWQiOjEwNzc5MSwiZXhwIjoxOTU2NTQ1OTk5fQ.wW-n6_XKijEdTMVQZP2tbQPd9ZA_xHxfycJWrMN5xMU
MOOLRE_ACCOUNT_NUMBER=10779106069841

MOOLRE_SECRET_KEY=BsclSUL9Kb5LF1JAwTMhr5Bnzc7IVB1FZhLGMLdH7rlBu49EsVJnNYMLPFabL7y2

MOOLRE_BASE_URL=https://api.moolre.com


MOOLRE_CALLBACK_URL=https://azico.site/payments/moolre/callback


MOOLRE_STORE_REDIRECT=https://zishop.site/payment/redirect

MOOLRE_AGENT_DEPOSIT_REDIRECT=https://zishop.site/deposit/redirect

MOOLRE_ADMIN_WALLET_REDIRECT=https://azico.site/admin/wallet/redirect

MOOLRE_ADMIN_SUBSCRIPTION_REDIRECT=https://azico.site/admin/billing/redirect

MOOLRE_SANDBOX=false

# BundlePortal API
BUNDLEPORTAL_BASE_URL=https://api.bundleportal.com/v1
BUNDLEPORTAL_API_KEY=
BUNDLEPORTAL_AUTH_HEADER=x-api-key
BUNDLEPORTAL_AUTH_PREFIX=
BUNDLEPORTAL_TIMEOUT=45
